.contact-form{
    background: #FFF;
    width:70%;
    margin: 0 auto;
   
    

    &__input{
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(151, 151, 151, 0.7);
        padding: 0 0 8px 0;
        margin:0 auto;
    }

    &--msg{
        resize: none;
    }
        
    &__inner-container{
        position: relative;
        padding-bottom: 30px;
        

        .contact-form__label{
            position: absolute;
            top: -3px;
            left: 0;
            cursor: text;
            font-size: 1.0rem;
            color: #979797;
            font-weight: 300;
            transition: all .3s;

            &--keep{
                top: -26px;
                color: #6E2169;
                font-size: 0.8rem;
                font-weight: 500;
            
            }
        }
    }

    &__input:focus {
        outline: none;
        border-bottom: 1.5px solid #6E2169;

        &~.contact-form__label{
            top: -16px;
            color: #6E2169;
            font-size: 0.9rem;
            font-weight: 500;
        }
    }

    

    &__input-container{
        padding: 16px 0px;
    }

    &__title{
        text-align: center;
        color: #6E2169;
        font-weight: 600;
        padding-bottom: 16px;
    }
    &__submit{
        padding: 12px 30px;
        border-radius: 60px;
        color: #ffffff;
        border: none;
        background:#6E2169;
        cursor: pointer;
        margin-bottom: 5px;        
    }

}

@media only screen and (max-width:700px){
    .contact-form__inner-container {
        padding-bottom: 40px;
    }
}